.skeleton {
  display: block;
  background: var(--color-bg-secondary);
  border-radius: var(--radius-100);
  animation: pulse 1.5s ease-in-out infinite;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-075);
}

@keyframes pulse {
  0% {
    background: var(--color-bg-secondary);
  }
  50% {
    background: var(--color-bg-disabled);
  }
  100% {
    background: var(--color-bg-secondary);
  }
}
